<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "Blog" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
    <link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <nav class="bg-nord-10 w-full top-0 left-0 border-b">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
          <div class="flex items-center justify-between w-auto order-1">
            <ul class="flex flex-row font-medium space-x-8 text-nord-6">
              <li class="hover:text-nord-4"><%= link "Home", to: Routes.page_path(@conn, :index) %></li>
              <li class="hover:text-nord-4"><%= link "Blog", to: Routes.post_path(@conn, :index) %></li>
              <a href="https://github.com/matt-humphrey" class="hover:text-nord-4">
                <i class="lni lni-github-original"></i>
              </a>
            </ul>
          </div>
          <div class="flex items-center justify-between order-2">
            <%= render "_user_menu.html", assigns %>
          </div>
        </div>
      </nav>
    </header>
    <%= @inner_content %>
  </body>
</html>
